<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Shipment List</title>
        <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <h3>
                    <a href="/create" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Shipment</a>
                </h3>
                <h2>Shipment List</h2>
<span th:text="${message}"></span>
            
                <div class="table-responsive">
                    <table class="table" id="product-table">
                        <thead>
                            <tr>
                                <th>Shipment Number </th>
                                <th>Container Number</th>
                                <th>Delivery Date</th>
                                <th>Route Details</th>
                                <th>Shipment Discription</th>
                            </tr>
                        </thead>
                        <tbody>
<tr>
<td th:text="${shipmentNumber}"></td>
<td th:text="${containerNumber}"></td>
<td th:text="${deliveryDate}"></td>
<td th:text="${routeDetails}"></td>
<td th:text="${shipmentDiscription}"></td>
</tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>